#tbAddOwner, #tbAddVehicle, #tbAddPart, #tbAddService {
    -fx-graphic: url("/img/plus.png");
}

#tbRemoveOwner, #tbRemoveVehicle, #tbRemovePart, #tbRemoveService {
    -fx-graphic: url("/img/minus.png");
}

#tbEditOwner, #tbEditVehicle, #tbEditPart, #tbEditService {
    -fx-graphic: url("/img/edit.png");
}

#tableOwners, #tableVehicles, #tableParts, #tableServices{
    -fx-base: #121212;
    -fx-control-inner-background: #292929;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: #313131;
}

#ownersTab, #vehiclesTab, #partsTab, #servicesTab, #mainScreenTab{
    -fx-base: #121212;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

.menu-bar .label {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: rgb(3, 2, 3);
    -fx-opacity: 0.9;
}