.fieldRight {
    -fx-control-inner-background: rgb(196, 255, 192);
}

.fieldWrong {
    -fx-control-inner-background: #ffdfe5;
}

#loginVBox {
    -fx-background-image: url("/img/login-background.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 600 400;
    -fx-background-position: center center;
}